.message {
    margin: 20px 0;
    display: flex;
}

.message:first-child,
.message:last-child {
    margin: 0;
}

h1.creator {
    font-size: 15px;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.timestamp {
    margin-top: 10px;
    color: #aaa;
}