@import '../../../../../variables.scss';

.message {
    margin: 2px 0;
    background: $message-staff-background;
    color: $message-staff-text;
    border-radius: 4px 20px 20px 4px;
    padding: 10px 15px;
}

.message:first-child {
    border-radius: 20px 20px 20px 4px;
}

.message:last-child {
    border-radius: 4px 20px 20px 20px;
}

.message:only-child {
    border-radius: 20px 20px 20px 20px;
}