@import '../../../../../variables.scss';

.message {
    display: flex;
    align-items: stretch;
    margin: 1px 0;
}

.message:first-child {
    margin-top: 0;
    margin-bottom: 1px;
}

.message:last-child {
    margin-top: 1px;
    margin-bottom: 0;
}

.message > div.actionContainer {
    opacity: 0;
    margin-left: 15px;
    transition: opacity 0.6s;
}

.message:hover > div.actionContainer {
    opacity: 1;
}

.message .messageText {
    display: flex;
    align-items: center;
    border-radius: 4px 20px 20px 4px;
    padding: 10px 15px;
    font-size: 14px;
}

.edited {
    text-align: right;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    margin: 2px 0;
}

.pending {
    opacity: 0.2;
}

.messageStaff .messageText {
    color: $message-staff-text;
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $message-staff-text;
    }
}

.messageStaff .messageText {
    background: $message-staff-background;
}

.messageCustomer .messageText {
    color: $message-customer-text;
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $message-customer-text;
    }
}

.messageCustomer .messageText {
    background: $message-customer-background;
}

.message:first-child .messageText {
    border-radius: 20px 20px 20px 4px;
}

.message:last-child .messageText {
    border-radius: 4px 20px 20px 20px;
}

.message:only-child .messageText {
    border-radius: 20px 20px 20px 20px;
}

.attachment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileIcon {
    font-size: 30px;
    margin-bottom: 10px;
}
