@import '../../../../variables.scss';

.queries {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.activeUserContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $active-user-background;
    border-radius: 12px 0 0 0;
}

.adminSearch {
    background: $admin-query-search-background;
    z-index: 999;
    height: 66px;
    display: flex;
    align-items: center;
}

.headerContainer {
    background: $query-header-background;
}

.header {
    border-radius: 12px 0 0 0;
    background: #fff;
    display: flex;
    height: 84px;
    padding: 10px;
}

.yourQueries {
    background: #fff;
    padding: 20px 30px;
    font-size: 20px;
    color: #aaa;
}

@media (max-width: 768px) {
    .queries {
        display: none;
    }
}
