@import '../../../../../../variables.scss';

.folder {
    display: flex;
    align-items: center;
    margin: 8px 25px 8px 0;
    padding: 7px 10px 7px 25px;
    font-size: 14px;
    border-radius: 0 50px 50px 0;
    background: transparent;
    transition: background 0.5s;
}
.folder.selected {
    background: #ddd;
}
.folderName {
    border: 0;
    background: transparent;
    text-align: left;
    font-weight: bold;
    outline: none;
    color: #4d4f5C;
    cursor: pointer;
    margin-left: 20px;
    flex: 1;
}
.iconUnread {
    color: $folder-unread-color;
}
.iconAllQueries {
    color: $folder-allQueries-color;
}