@import '../../../../../variables.scss';

.activeUser {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: $active-user-background;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.1);
}

h1.userName {
    font-size: 25px;
    color: $active-user-text;
    font-weight: 500;
}
