@import '../../../../../variables.scss';

.activeUser {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: $active-user-background;
    border-radius: 12px 0px 0px 0px;
    max-height: 66px;
}

h1.userName {
    font-size: 20px;
    color: $active-user-text;
    font-weight: 500;
}
