.queryHeader {
    height: 66px;
    background: #1e2c3c;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
}