@import '../../../../../variables.scss';

.queryHeader {
    min-height: 66px;
    height: 66px;
    background: $query-header-background;
    color: $query-header-text;
    padding: 15px 25px 15px 25px;
    display: flex;
    align-items: center;
    border-radius: 0px 12px 0px 0px;
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.iconContainer {
    margin-left: -15px;
}

.iconContainer:first-child {
    margin-left: 0;
}
