@import '../../../../../variables.scss';

.queryHeader {
    height: 66px;
    background: $query-header-background;
    color: $query-header-text;
    padding: 15px;
    display: flex;
    align-items: center;
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
}