@import '../../../variables.scss';

.container {
    position: absolute;
    bottom: 15px; /* 15px padding on Query */
    left: 443px; /* 500px Query size - 15px padding - 42px container total size */
    display: flex;
    width: auto;
    background-color: #fff;
    padding: 3px;
    border-radius: 20px;
    z-index: 1;
}

.actionButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    transition: background 0.5s, border 0.5s;
}

.actionButton:last-child {
    margin-right: 0;
}

.container:hover .remove,
.container:hover .ESCALATED,
.container:hover .BIN,
.container:hover .COMPLETE {
    margin-left: 0;
    opacity: 1;
}

.remove {
    opacity: 0;
    border: 4px solid $query_actions;
    background: #fff;
    color: $query_actions;
    margin-left: -41px;
    transition: margin-left 0.5s, opacity  0.5s;
}

.ESCALATED {
    opacity: 0;
    border: 4px solid $folder-escalated-color;
    background: $folder-escalated-color;
    color: #fff;
    margin-left: -41px;
    transition: margin-left 0.5s, opacity  0.5s;
}

.COMPLETE {
    opacity: 0;
    border: 4px solid $folder-complete-color;
    background: $folder-complete-color;
    color: #fff;
    margin-left: -41px;
    transition: margin-left 0.5s, opacity  0.5s;
}

.BIN {
    opacity: 0;
    border: 4px solid $folder-bin-color;
    background: $folder-bin-color;
    color: #fff;
    margin-left: -41px;
    transition: margin-left 0.5s, opacity  0.5s;
}

.folder_NONE {
    border: 4px solid $query_actions;
    background: #fff;
    color: $query_actions;
    z-index: 2;
}

.folder_ESCALATED {
    border: 4px solid $folder-escalated-color;
    background: $folder-escalated-color;
    color: #fff;
    z-index: 2;
}

.folder_COMPLETE {
    border: 4px solid $folder-complete-color;
    background: $folder-complete-color;
    color: #fff;
    z-index: 2;
}

.folder_BIN {
    border: 4px solid $folder-bin-color;
    background: $folder-bin-color;
    color: #fff;
    z-index: 2;
}