.loadingSpinner {
  align-self: center;
  margin-top: 10%;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loadingSpinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loadingSpinner div:nth-child(1) {
  left: 8px;
  animation: loadingSpinner1 0.6s infinite;
}

.loadingSpinner div:nth-child(2) {
  left: 8px;
  animation: loadingSpinner2 0.6s infinite;
}

.loadingSpinner div:nth-child(3) {
  left: 32px;
  animation: loadingSpinner2 0.6s infinite;
}

.loadingSpinner div:nth-child(4) {
  left: 56px;
  animation: loadingSpinner3 0.6s infinite;
}

@keyframes loadingSpinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loadingSpinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loadingSpinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}