@import '../../../variables.scss';

.container {
}


.startButton {
    display: flex;
    background: $query-header-background;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    border: 0;
    outline: none;
    cursor: pointer;
}

.startIcon {
    margin-right: 10px;
}

.setTitle {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    border: 2px solid $query-header-background;
    border-radius: 5px;
    font-size: 20px;
}

.queryTitle {
    width: 20em;
    color: #aaa;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}

.queryTitle::placeholder {
    color: #aaa;
}

.entryButton {
    color: $query-header-background;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    padding: 0;
}