@import '../../../../../variables.scss';

.searchContainer {
    display: flex;
    flex: 1;
    align-items: stretch;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 6px 6px 6px 6px;
}

.searchIcon {
    align-self: center;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    font-size: 20px;
    color: $query-search-icon;
}

.querySearchInput {
    flex: 1;
    background: #fff;
    font-size: 17px;
    padding: 5px 10px;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #5f616c;
}
.querySearchInput:focus {
    outline: none;
}
.querySearchInput::placeholder {
    color: $query-search-placeholder;
}

.newQueryButton {
    align-self: center;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 0 10px;
    font-size: 20px;
    color: $query-search-icon;
    cursor: pointer;
}
