@import '../../../../../variables.scss';

a {
    text-decoration: none;
}

.queryListContainer {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.yourQueries {
    padding: 0 20px;
    font-size: 20px;
    color: $query-list-your-queries;
}

ol.queryList {
    margin: 0;
    padding: 0;
}

.noQueries{
    padding-top: 20px;
    font-size: 20px;
    align-self: center;
    color: #cccccc;
}
