@import '../../../../../variables.scss';

a {
    text-decoration: none;
}

.queryListContainer {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 12px 0 0 0;
    background-color: #fff;
}

.yourQueries {
    padding: 0 20px;
    font-size: 17px;
    color: $query-list-your-queries;
}

ol.queryList {
    margin: 0;
    padding: 0;
}

.noResultsContainer {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noQueries{
    padding: 20px 0;
    font-size: 20px;
    align-self: center;
    color: #cccccc;
}

.startNewQuery {
    align-self: center;
}
