@import '../../../../../variables.scss';

a {
    text-decoration: none;
}

.queryListContainerStaff {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.queryListContainerCustomer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 0 12px;
}

.yourQueries {
    padding: 0 20px;
    font-size: 17px;
    color: $query-list-your-queries;
}

ol.queryList {
    margin: 0;
    padding: 0;
}

.noResultsContainer {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noQueries {
    padding: 20px 0;
    font-size: 20px;
    align-self: center;
    color: #cccccc;
}

.startNewQuery {
    align-self: center;
    max-width: 90%;
}
