@import '../../../../../../variables.scss';

.label {
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 0 50px 50px 0;
    background: transparent;
    position: relative;
}
.pending {
    opacity: 0.5;
}
.hideDelete {
    opacity: 0;
    transition: opacity 0.25s;
}
.labelIcon {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;
}
.labelName {
    border: 1px solid #cfd2e6;
    background: transparent;
    text-align: left;
    font-weight: bold;
    color: #4d4f5C;
    margin: 0 10px 0 5px;
    width: 160px;
    padding: 5px 30px 5px 5px;
}
.deleteButton {
    color: #4d4f5C;
    border: 0;
    background: transparent;
    margin-right: 5px;
    padding: 0;
    outline: 0;
    cursor: pointer;
}
.labelCount {
    flex: 0;
}
.inputContainer {
    position: relative;
}
.saveButton {
    position: absolute;
    right: 20px;
    top: 4px;
    color: #4d4f5C;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 17px;
    background: transparent;
    cursor: pointer;
}