.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.headingContainer {
    display: flex;
    align-items: center;
}
.listContainer {
    overflow-y: auto;
}
.labelList li {
    margin: 8px 5px 8px 0;
    padding: 7px 10px 7px 25px;
}
.heading {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #4d4f5C;
    padding: 25px;
}
.labelList li.addNewLabel {
    display: flex;
    align-items: center;
    padding-left: 29px;
    padding-bottom: 20px;
    cursor: pointer;
}
.addNewLabelText {
    margin-left: 12px;
}
.editButton {
    display: flex;
    align-items: center;
    font-size: 14px;
    background: #aaa;
    color: #fff;
    padding: 4px 6px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}
.editButtonTextEdit, .editButtonTextDone {
    font-weight: 700;
    text-transform: uppercase;
}
.editButtonTextEdit {
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}
.editButtonTextDone {
    margin-left: 7px;
}
.editButton:hover {
    background: #4d4f5C;
}
.editButton:hover .editButtonTextEdit {
    margin-left: 7px;
    width: 45px;
}
.editing {
    background: #4d4f5C;
}
.loading {
    display: flex;
    justify-content: center;
}
.noLabels {
    margin: 0;
    font-size: 14px;
    color: #4d4f5C;
    padding: 0 25px;
}