@import-normalize;
@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #c4c4c4;
    overflow: hidden;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

figure { margin: 0; }

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

// The react-tiny-popover should appear above everything else,
// be rounded, and have a drop shadow
.react-tiny-popover-container {
    z-index: 999 !important;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);

}

#root {
    display: flex;
    padding: 20px;
    height: 100vh;
}

// Allow us to label our inputs, but not display
// the label, as suggested here:
// https://www.w3.org/WAI/tutorials/forms/labels/
.hiddenLabel {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}