@import-normalize;
@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #c4c4c4;
    overflow: hidden;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

figure { margin: 0; }

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

// react-router-dom styles the a element with an .active class when it
// is active. We actually want the child li to be styled. So this
// achieves that
a.active > li {
    background: $query-list-query-background-active;
    // This is to satisfy one of those CSS oddities that, in order for
    // an element's drop shadow to appear above its adjacent elements
    // it needs position: relative
    position: relative;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.1);
    border-bottom: none;
}

#root {
    display: flex;
    padding: 20px;
    height: 100vh;
}
