@import-normalize;
@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

figure { margin: 0; }