$font-family: 'Muli', sans-serif;

$query-header-background: #1e2c3c;
$query-header-text: #fff;

$message-list-background: #e8e8e8;

$message-staff-background: #1e2c3c;
$message-staff-text: #fff;

$message-customer-background: #d6d6d6;
$message-customer-text: #6b6b6b;

$active-user-background: #f5f5f5;
$active-user-text: #707070;

$query-search-background: #f5f5f5;
$query-search-icon: #bcbccb;
$query-search-placeholder: #a7a7a7;

$query-list-your-queries: #8a8c95;

$query-list-query-background: #fff;
$query-list-query-background-active: #dedede;

$query-title: #4f4f4f;
$query-actions: #bebebe;

$folder-inbox-color: #e2875d;
$folder-allQueries-color: #586e84;
$folder-escalated-color: #c6c650;
$folder-complete-color: #50c650;
$folder-bin-color: #c65050;
