@import '../../../../variables.scss';

.messages {
    background: $message-list-background;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.messagesList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.noMessages {
    padding-top: 20px;
    font-size: 20px;
    align-self: center;
    color: #cccccc;
}