@import '../../../../../../variables.scss';

.query {
    padding: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ededed;
    background: $query-list-query-background;
}

.pending {
    opacity: 0.5;
}

h1.queryTitle {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 11px;
    margin: 0;
    color: $query-title;
}

.headMessage {
    font-size: 12px;
    color: $query-title;
}

.querySummary {
    flex: 1;
    padding-right: 10px;
}

.metaActions {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timestamp {
    color: $query-title;
    font-size: 12px;
}

.queryActions {
    margin-top: 8px;
    margin-right: 8px;
    width: 36px;
    height: 36px;
    border: 4px solid $query-actions;
    border-radius: 50%;
    color: $query-actions;
    background: #fff;
    text-align: center;
}
