@import '../../../../../../variables.scss';

.query {
    padding: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ededed;
    background: $query-list-query-background;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s, background 0.5s;
}

.semiTrans {
    opacity: 0.5;
}

h1.queryTitle {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 11px;
    margin: 0;
    color: $query-title;
}

.headMessage {
    font-size: 12px;
    color: $query-title;
}

.querySummary {
    flex: 1;
    padding-right: 10px;
}

.queryLabels {
    display: flex;
    margin-top: 10px;
}

.metaActions {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timestamp {
    color: $query-title;
    font-size: 12px;
}

.actionButtonPlaceholder {
    width: 42x;
    height: 42px;
    opacity: 0;
    margin-top: 12px;
}
